.select-box {
  margin-left: 250px;
}

.input-box {
  width: 150px;
}

.select-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .select-container {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .select-container > * {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 0 0;
  }
}
